*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/coverage
/node_modules
/playwright-report
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/images/site/uploads
/public/storage
/storage/*.key
/storage/pail
/test-results
/vendor
/_legacy_static_*
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
